<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    <title>URLReduce - Encurtador de URL | Estatísticas de Acesso</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="offset-sm-1 col-sm-10">
            <h1 class="font-weight-bold">URL<span class="font-weight-light color-y">Reduce</span></h1>
            <p class="h5 mb-5 text-muted">Encurtador de URL</p>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-10 text-left text-muted"> 
            <p id="generate-in">CRIADO EM --/--/--, --:--H.</p>
            <h5>Original: <a href="" class="color-y" target="_blank"></a></h5>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-10 text-left text-muted">
            <h3>Reduzido: <a href="" id="shorturl" class="color-y" target="_blank"></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-10 text-left share-url">
            <button class="btn btn-outline-primary" onclick="copyURL()">COPY</button>
            <p><strong>Share: </strong></p>
            <a href="#" target="_blank" class="btn btn-outline-primary" id="button__mail-share">E-mail</a>
            <a href="#" target="_blank" class="btn btn-outline-primary" id="button__whatsapp-share">WhatsApp</a>
            <a href="#" target="_blank" class="btn btn-outline-primary" id="button__twitter-share">Twitter</a>
            <a href="#" target="_blank" class="btn btn-outline-primary" id="button__linkedin-share">Linkedin</a>
            <a href="#" target="_blank" class="btn btn-outline-primary" id="button__facebook-share">Facebook</a>
            </div>
        </div>
        <h2 class="font-weight-bold mt-5">Total de Cliques: <span class="color-y">0</span></h2>
        <p class="text-muted">Gráfico de Cliques por Dia</p> 
        <div class="row mt-3">
            <div class="offset-sm-1 col-sm-10">
            <!-- Gráfico -->
            <div class="card">
                <canvas id="multipleBarChart"></canvas>
            </div>
            <!-- Gráfico -->
            </div>
        </div>
        <div class="row">
            <div class="offset-sm-1 col-sm-10 mt-5">
                <!-- Tabela -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title font-weight-bold mb-3">Cliques por Dia</h3>
                    </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th class="text-left">Dias da Semana</th>
                                            <th>Total de Clique</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr title="QTD de Cliques no Domingo">
                                            <td class="text-left">Domingo</td>
                                            <td>100</td>
                                        </tr>
                                        <tr title="QTD de Cliques na Segunda-Feira">
                                            <td class="text-left">Segunda-Feira</td>
                                            <td>30</td>
                                        </tr>
                                        <tr title="QTD de Cliques na Terça-Feira">
                                            <td class="text-left">Terça-Feira</td>
                                            <td>60</td>
                                        </tr>
                                        <tr title="QTD de Cliques na Quarta-Feira">
                                            <td class="text-left">Quarta-Feira</td>
                                            <td>30</td>
                                        </tr>
                                        <tr title="QTD de Cliques na Quinta-Feira">
                                            <td class="text-left">Quinta-Feira</td>
                                            <td>50</td>
                                        </tr>
                                        <tr title="QTD de Cliques na Sexta-Feira">
                                            <td class="text-left">Sexta-Feira</td>
                                            <td>90</td>
                                        </tr>
                                        <tr title="QTD de Cliques no Sábado">
                                            <td class="text-left">Sábado</td>
                                            <td>30</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
                <!-- Tabela -->
            </div>
        </div>
        <p class="mt-5 mb-3 text-muted"><span class="color-y">&copy;</span> 2022 - MOA.RIO.BR | URL<span class="color-y">Reduce</span></p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" 
            integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
            crossorigin="anonymous" 
            referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="/javascripts/util.js"></script>
</body>
</html>
